body{  
  font-family: 'Times New Roman', Times, serif;  
  background-color: pink;  
  background-size: cover;
} 

h1{
  text-align: center;
}

form{   
   background-color: rgb(255, 255, 255);
  width: 500px;
  height: 860px;
  padding: 20px 20px 10px 10px;
  position: relative;
  margin: auto;
  border-radius: 1em;

}
  
input[type=text], input[type=password], textarea {  
  width: 96%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: lavender;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: lightblue;  
  outline: none;  
}  

input[type=email], input[type=email], textarea {  
  width: 96%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: lavender;  
}  
input[type=email]:focus, input[type=email]:focus {  
  background-color: lightskyblue;  
  outline: none;  
}  

input[type=button] {
  background-color: palevioletred;
  padding: 12px 20px;
  text-align: center;
  width: 100px;
  margin-left: auto;
  margin: 20px 0 0 230px;
  font-size:18px
 
}
input[type=button]:hover {
background-color: #32a336;
}




